phi-avatar {

	display: inline-block;

	width: 42px;
	height: 42px;

	& > div {
		display: inline-block;
		overflow: hidden;
		border-radius: 50%;

		width: 100%;
		height: 100%;

		& > img {
			width: 100%;
		}
	}

}