phi-message {
    display: block;
    position: relative;

    padding: 8px 16px;
    padding-left: 56px;

    cursor: pointer;

    phi-checkbox {
        position: absolute;
        top: 16px;
        left: 12px;
        padding: 8px;

        // make checkbox clickable area very tall
        padding-bottom: 48px;
    }

    phi-subject {
        display: block;
        font-size: 1.5em;
        margin-bottom: 5px;
        color: #222;
    }

    phi-preview {
        display: block;
        font-size: 1.1em;
        color: #444;
        margin-bottom: 5px;
    }

    phi-type {
        font-weight: bold;
    }

    phi-date {
        color: #777;
    }

    phi-author {
        color: #666;
    }


    phi-contents {
        display: block;
        overflow: auto;
        padding: 24px 0 48px 0;
    }



    /* States */

    &:hover {
        background-color: #eee;
    }

    &.selected {
        background-color: #ff8;
    }

    &.unread {

        phi-subject {
            font-weight: bold;
        }

        phi-preview {
            color: #222;
        }
    }

}