$phi-color-amber-50: #fff8e1;
$phi-color-amber-100: #ffecb3;
$phi-color-amber-200: #ffe082;
$phi-color-amber-300: #ffd54f;
$phi-color-amber-400: #ffca28;
$phi-color-amber-500: #ffc107;
$phi-color-amber-600: #ffb300;
$phi-color-amber-700: #ffa000;
$phi-color-amber-800: #ff8f00;
$phi-color-amber-900: #ff6f00;
$phi-color-amber-A100: #ffe57f;
$phi-color-amber-A200: #ffd740;
$phi-color-amber-A400: #ffc400;
$phi-color-amber-A700: #ffab00;

$phi-color-amber: (
    50: $phi-color-amber-50,
    100: $phi-color-amber-100,
    200: $phi-color-amber-200,
    300: $phi-color-amber-300,
    400: $phi-color-amber-400,
    500: $phi-color-amber-500,
    600: $phi-color-amber-600,
    700: $phi-color-amber-700,
    800: $phi-color-amber-800,
    900: $phi-color-amber-900,
    A100: $phi-color-amber-A100,
    A200: $phi-color-amber-A200,
    A400: $phi-color-amber-A400,
    A700: $phi-color-amber-A700
);

$phi-color-maps: map-merge($phi-color-maps, (amber: $phi-color-amber));