$checkbox-width: 18px !default;
$checkbox-height: $checkbox-width !default;

phi-checkbox {

    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    user-select: none;

    height: $checkbox-height;

    // unchecked
    .phi-checkbox-box {

        display: inline-block;
        vertical-align: middle;

        box-sizing: border-box;
        width: $checkbox-width;
        height: $checkbox-height;

        border: 2px solid #777;
        border-radius: 2px;

        transition: 240ms;

    }

    .phi-checkbox-label {

        display: inline-block;
        vertical-align: middle;

        margin-left: 10px;
        white-space: normal;
        pointer-events: none;
        user-select: text;
    }



    &.phi-checked {

        .phi-checkbox-box {

            border: 2px solid transparent;
            text-align: center;

            /* The checkbox tick */
            &:after {

                content: ' ';

                width: 35%;
                height: 60%;

                min-width: 6px;
                min-height: 11px;

                border: 3px solid #fff;
                border-top: 0;
                border-left: 0;

                margin: auto;
                margin-top: 6%;

                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);

                display: block;
                box-sizing: border-box;

            }


        }


    }


    @include phi-colors((
        background-color: 900
    ), '.phi-checked .phi-checkbox-box');


    // disabled
    &[disabled] {
        cursor: no-drop;
        opacity: 0.6;
    }

    // focus
    &:focus .phi-checkbox-label:not(:empty) {
        border-color: black;
    }

}