$phi-spacing-radius: 3px;
$phi-spacing-gutter: 8px;
$phi-spacing-break: 32px;
$phi-spacing-padding-vertical: 12px;
$phi-spacing-padding-horizontal: 20px;
$phi-spacing-padding: $phi-spacing-padding-vertical $phi-spacing-padding-horizontal;