$phi-icon-spin-duration: 2000ms;


[phi-icon-animation="spin"] {

    &[phi-icon]:before,
    &[phi-icon-left]:before,
    &[phi-icon-right]:after {

        display: inline-block;
        -webkit-animation: phi-animation-spin $phi-icon-spin-duration infinite linear;
        -moz-animation: phi-animation-spin $phi-icon-spin-duration infinite linear;
        -o-animation: phi-animation-spin $phi-icon-spin-duration infinite linear;
        animation: phi-animation-spin $phi-icon-spin-duration infinite linear;

        -webkit-animation-fill-mode: forwards;

    }

}

@-moz-keyframes phi-animation-spin {
    0% { -moz-transform: rotateZ(0deg); }
    100% { -moz-transform: rotateZ(359deg); }
}

@-webkit-keyframes phi-animation-spin {
    0% { -webkit-transform: rotateZ(0deg); }
    100% { -webkit-transform: rotateZ(359deg); }
}

@-o-keyframes phi-animation-spin {
    0% { -o-transform: rotateZ(0deg); }
    100% { -o-transform: rotateZ(359deg); }
}

@-ms-keyframes phi-animation-spin {
    0% { -ms-transform: rotateZ(0deg); }
    100% { -ms-transform: rotateZ(359deg); }
}

@keyframes phi-animation-spin {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(359deg); }
}
