[phi-color-tint] {

    position: relative;

    & > * {
        position: relative;
    }

}

.phi-color-tint {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    opacity: 0.4;
}