[phi-z] {
    box-shadow: 0 1px 3px 0 #bbb;
}

[phi-z="0"] {
    box-shadow: 0 0 0 0 #bbb !important;
}

[phi-z="1"] {
    box-shadow: 0 1px 3px 0 #bbb;
}

[phi-z="2"] {
    box-shadow: 0 4px 8px 0 #aaa;
}

[phi-z="3"] {
    box-shadow: 0 7px 16px 0 #9d9d9d;
}

[phi-z="4"] {
    box-shadow: 0 14px 24px 0 #959595;
}

[phi-z="5"] {
    box-shadow: 0 19px 36px 0 #8a8a8a;
}