phi-select {

    position: relative;

    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    outline: 0;

    min-width: 160px;

    & > .phi-select-face {

        position: relative;
        cursor: text;

        padding: 0 26px 0 0;
        border-bottom: 1px solid #ccc;

        &:after {
            position: absolute;
            top: 0;
            right: 7px;
            opacity: 0.7;
        }

        input {
            background: transparent;
            border: 0;
            margin: 0;
            padding: 0;
            outline: 0;

            width: 100%;
        }


        &.phi-select-expanded {
            &:after {
                // @include phi-icon("fa-search");  phi-icon is deprecated !!!
            }
        }

    }


    & > phi-menu {
        min-width: 160px;
        max-height: 320px;
        overflow: auto;
    }
}

phi-option {
    display: block;

    a {
        display: block;
        padding: 8px 12px;
        cursor: pointer;
    }
}