[phi-button] {

    &.cancel {
        @extend [phi-z="0"];
        background: transparent !important;
        color: #444;

        &:hover {
            color: #900;
        }
    }

    &[disabled] {
        box-shadow: none;
        background-color: #444;
        opacity: 0.6;
    }

}